body{
background-color: antiquewhite;
font-family: Arial, Helvetica, sans-serif;
margin: 2rem;
color: #000000;
}

.techform form {
    display: grid;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    gap:0.5rem;
}